.App {
    background-color: aqua;
    height: 100%;
    width: 100%;
    display: grid;
    /* grid-template-rows: 10% 20% 70%; */
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.App>.Header {
    background-color: var(--background-color);
    grid-column: 12 span;
    grid-row: 1 span;
    border: 1px solid var(--primary-color);
}

.App>.Menu {
    background-color: var(--background-color);
    grid-column: 2 span;
    grid-row: 10 span;
    border: 1px solid var(--primary-color);

}

.App>.Main {
    background-color: var(--background-color);
    grid-column: 10 span;
    grid-row: 10 span;
    border: 1px solid var(--primary-color);
}

.App>.Footer {
    background-color: var(--background-color);
    grid-column: 12 span;
    grid-row: 1 span;
    border: 1px solid var(--primary-color);
}